textarea {
    text-align: center;
    height: 60px;
    border: none;
    background: transparent;
    font-size: 16px;
    font-weight: 500;
    width: 60%;
    border-bottom: 2px solid #8566aa;
    outline: none;
    resize: none;
  }
  
  button {
    min-height: 40px;
    width: 45px;
    border-radius: 50%;
    border-color: transparent;
    background-color: #8566aa;
    color: #fff;
    font-size: 20px;
    border: none;
    outline: none;
    margin-left: 10px;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
  }
  
  button:hover {
    background-color: #20bf6b;
  }
  
  button + button {
    width: auto;
    border-radius: 5px;
    padding: 5px 10px;
    margin-left: 5px;
  }
  
  button + button:hover {
    background-color: #e67e22;
  }
  
  button + button + button {
    background-color: #f39c12;
  }
  
  button + button + button:hover {
    background-color: #d35400;
  }
  